<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="slack" type="SlackBot.Configuration.SlackConfigurationSection, SlackBotService"/>
    <section name="slackTfs" type="SlackBot.Tfs.Configuration.TfsConfigurationSection, SlackBot.Tfs"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  
  <slack>
    <client token="xoxb-268740840371-kNORWJBMOcrbLyOhoVigNewl"/>
    <sinks>
      <add name="tfs" type="SlackBot.Tfs.TfsChatMessageSink, SlackBot.Tfs"/>
    </sinks>
  </slack>

  <slackTfs>
    <sinks>
      <add name="tfs" projectCollection="https://dev.evona.ba/tfs/evona" project="development" loginMethod="0" accessToken="5cfsszz4b74khz7hxyxwdbdkht6mscdvjl2vx3idxpy5y4oc6iha" username="" password="" searchString="" queryGUID=""/>
    </sinks>
  </slackTfs>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
